<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299064197006-b5mr648slt9fsde6gh0c8fq3so6ijpil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299064197006-b5mr648slt9fsde6gh0c8fq3so6ijpil</string>
	<key>API_KEY</key>
	<string>AIzaSyB5XpUPUPA3WcseewAq8sGgMugwqckXY50</string>
	<key>GCM_SENDER_ID</key>
	<string>299064197006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.first</string>
	<key>PROJECT_ID</key>
	<string>flutter-internship-onix</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-internship-onix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299064197006:ios:7f2ebb5a02f05f64fd6edf</string>
</dict>
</plist>